.common {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: @lightgray;
  align-items: center;
  position: relative;
  padding: 10px 0;
  &-nav, .social {
    display: flex;
    align-items: end;
  }
  .hamburger{
    display: none;
  }
  &-nav li {
    &:nth-child(2) {
      border-left: 1px solid black;
      border-right: 1px solid black;
    }
  }

  &::before {
    content: '';
    display: block;
    height: 100%;
    width: 100vw;
    background-color: inherit;
    position: absolute;
    top: 0;
    z-index: -1;
    margin: auto;
    left: -50vw;
    right: -50vw;
  }

  li {
    margin: 0 10px;
    padding: 0 10px;
    box-sizing: border-box;
  }

}
header, .header{
  .info{
    background: white;
    display: grid;
    grid-template-columns: repeat(@n, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: @offset;
    padding: 15px 0;
    box-sizing: border-box;
    .hamburger{
      display: none;
    }
    .logo{
      fill: @skyblue;
      grid-column: 1/span 3;
      grid-row-start: 1;
      grid-row-end: 3;
      figcaption div{
        margin-bottom: 10px;
      }
    }
    address, .addres{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      grid-column: 4/span 6;
      a{
        margin-right: 10px;
      }

    }
    form{
      grid-column: 4/span 6;
      grid-row-start: 2;
      position: relative;
      text-align: left;
      font-size: 16px;
      display: flex;
      margin-top: 10px;
    }
    input{
      width: calc(100% - 90px);
      box-sizing: border-box;

    }
    button{
      width: 80px;
      border: none;
      box-sizing: border-box;
      padding: 5px;

    }
    .icon{
      margin: 0;
      &:hover{
        fill: @rosepink;
      }
    }
    .cart{
      grid-column: 11/span 2;
      grid-row: 1 / span 2;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 15px 0;
      border: 1px solid black;
      margin: 0;
      box-sizing: border-box;
      align-items: center;
      output{
        font-size: 1em;
        vertical-align: center;
      }
      .icon{
        border-left: 1px solid black;
        padding: 10px;
        margin: 0;
        width: 30px;
        height: 30px;
        fill: @skyblue;
      }
      &::after{
        content: attr(data-count);
        display: block;
        border-radius: 30px;
        background-color: @darkred;
        position: absolute;
        right: 10px;
        top:-15px;
        font-size: 18px;
        color: #fff;
        padding: 5px 10px;
      }
    }
  }
}
@media screen and (max-width:960px){
  header, .header{
    .info{
      .logo{
        grid-column: 1/span 3;
      }
      .cart{
        grid-column: 10/span 3;
      }


    }
  }
}
@media screen and (max-width: 720px){
  .common{
    .hamburger{
      display: block;
    }
    &-nav{
      display: none;
    }
  }
  header, .header {
    .info {
      .cart, .logo {
        grid-row: 1/span 1;
      }
      .logo {
        figcaption div:not(:first-child) {
          display: none;
        }
        svg{
          max-height: 50px;
        }
      }
      .cart{
        font-size: 16px;
        padding: 5px 0;
        svg{
          max-width: 20px;
          max-height: 20px;
        }
      }
      form{
        grid-column: span 12;
      }
    }
  }
}
@media screen and (max-width: 520px) {
  .common{
    display: none;
  }
  header,.header {
    .info {
      background: @skyblue;
      display: flex;
      flex-wrap:nowrap;
      align-items: center;
      justify-content: space-around;
      padding: 0;
      position: relative;
      &:after{
        content: '';
        display: block;
        height: 100%;
        width: 100vw;
        background-color: inherit;
        position: absolute;
        top: 0;
        z-index: -1;
        margin: auto;
        left: -50vw;
        right: -50vw;
      }
    address,.address {
      display: none;
    }
      input{
        display: none;
      }
      button{
        background-color: transparent;
        img{
          fill: white;
        }
      }
      .logo, .icon{
        fill: white;
      }
      .logo{
        max-height: 80px;
        max-width: 100px;
      }
    .hamburger {
      display: block;
      order: 4;
    }
      .cart{
        border: none;
        width: auto;
        .icon{
          border:none;
          width: 30px;
          height: 30px;
          fill: white;
        }
        output{
          font-size: 14px;
        }
        &:after{
          display: none;
        }

      }

    }
  }
}
nav,.nav{
  background-color: @skyblue;
  ul {
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: 16px;
    li {
      border-right: 1px solid white;
      padding: 0 20px;
      color: white;
    }
  }
}
@media screen and (max-width: 520px){
  nav,.nav{
    ul {
      background-color: @lightgray;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      width: 100%;
      padding: 0;
      li {
        padding: 10px;
        border-bottom: 1px solid black;
      }
    }
  }
}

